.header {
    color: white;
    padding: 20px 20px 20px 20px;
    overflow:hidden;
}

.sign-in-header {
    color: white;
    padding: 20px 20px 20px 20px;
    overflow:hidden;
    font-size: 36px;
    text-transform: uppercase;
}

.subheader {
    color: white;
    padding: 20px 0px 0px 0px;
}

.inputs {
    margin: 10px 0px 10px 0px;
}

.buttons {
    padding: 10px 0px 10px 0px;
}

.new-chat {
    min-width: 100px;
}

.logo {
    width: 50vw;
    max-width: 500px;
}

.login-container {
    overflow:auto;
}

@media screen and (min-width: 769px) {
    .header {
        font-size: 24px;
    }
}

  
@media screen and (max-width: 768px) {
    .header {
        font-size: 20px;
    }
    
}